:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #fff;
    --font1: 20px;
}

@font-face {
    font-family: 'Merriweather', serif;
    src: url("assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("assets/fonts/Inter-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow: hidden;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    font-size: var(--font1);
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: var(--color-gold);
}

.link-active {
    color: var(--color-gold);
}

p {
    font-size: var(--font1);
    color: var(--color-white);
}

body {
    min-height: 100vh;
    overflow: hidden;
}

header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
}

.icon {
    width: 50px;
    height: 50px;
    fill: var(--color-white);
    cursor: pointer;
    transition: color 0.5s;
}

.logo .icon {
    cursor: auto;
}

.logo .icon:hover {
    fill: var(--color-white);
}

.icon:hover {
    fill: var(--color-gold);
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 0 20px;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
}

.hamburger {
    display: none;
    width: 50px;
	height: 50px;
    margin-left: 40px;
    margin-top: 3px;
    cursor: pointer;
    z-index: 555;
    transition: 0.5s;
}

.hamburger-item {
	width: 50px;
	height: 5px;
    margin-bottom: 5px;
    background-color: var(--color-white);
}

.hamburger-item:nth-of-type(2).active {
    display: none;
}

.hamburger-item:nth-of-type(1).active {
    top: 50%;
    transform: translate(0, 100%) rotate(45deg);
}

.hamburger-item:nth-of-type(3).active {
    top: 50%;
    transform: translate(0, -100%) rotate(-45deg);
}

.hamburger-menu {
    position: absolute;
    top: 0;
    right: -220px;
    display: flex;
    width: 220px;
    min-height: calc(100vh);
    padding-top: 134px;
    background-color: var(--color-black);
    transition: 0.5s;
}

.hamburger-menu-list {
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 555;
}

.hamburger-menu-item a {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 73px;
    font-size: var(--font2);
    color: var(--color-white);
}

.open {
    right: 0;
}

.container {
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(assets/img/solovey.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    overflow: hidden;
    background-size: cover;
}

.audio-player-btn {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
}

.play,
.pause {
    fill: var(--color-black);
}

.play:hover,
.pause:hover {
    fill: var(--color-gold);
}

.icon-hidden {
    visibility: hidden;
}

.container .icon {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 444;
}

.effect-1 {
    width: 200px;
    height: 220px;
    position: absolute;
    border: 12px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    visibility: hidden;
    z-index: 333;
}

.effect-1-active {
    animation: rotate 0.3s ease 0.5s infinite;
}

@keyframes rotate {
    from {
        visibility: visible;
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.effect-2 {
    width: 220px;
    height: 200px;
    position: absolute;
    border: 12px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    visibility: hidden;
    z-index: 333;
}

.effect-2-active {
    animation: rotate-reverse 0.6s ease 0.5s infinite reverse;
}

@keyframes rotate-reverse {
    from {
        visibility: visible;
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    height: 8vh;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.year {
    padding: 0 20px;
}

.rss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rss .icon {
    width: 65px;
    height: 65px;
}

.rss .icon:hover {
    animation: tremor 0.1s infinite;
}

@keyframes tremor {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    
    nav {
        display: none;
    }

}