@font-face {
    font-family: 'Merriweather', serif;
    src: url("assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url("assets/fonts/Inter-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    width: 1440px;
    background-color: #000;
    color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2 {
    color: #bdae82;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #bdae82;
}

.active a {
    color: #bdae82;
}

.icon { 
    width: 50px; 
    height: 50px;
    fill: #fff;
    stroke: #fff;
}

.skills-icon {
    fill: #bdae82;
    stroke: #bdae82;
}

.icon:hover {
    fill: #bdae82;
    stroke: #bdae82;
}

.btn {
    width: 200px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    transition: color 0.3s;
}

body {
    min-height: 100vh;
}

.container {
    width: 1440px;
    /* max-width: 1440px; */
    margin: 0 auto;
    padding: 0 20px;
}

.bg-header-container {
    position: relative;
    width: 1440px;
    height: 910px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.header {
    width: 100%;
    height: 90px;
    
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.nav-list {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7px;
}

.nav-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.toggle {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.lang {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.en {
    width: 25px;
    text-align: center;
}

.marker {
    position: relative;
    top: 2px;
    width: 8px;
    margin: 0 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.ru {
    width: 22px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hero-container {
    position: absolute;
    width: 500px;
    height: 330px;
    left: 5.56%;
    right: 59.72%;
    top: 250px;
}

.hero-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}

.hero-text {
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}

.hero-btn {
    color: #000;
    border: 0;
    background-color: #bdae82;
}

.hero-btn:hover {
    color: #fff;
}

.section-skills {
    height: 482px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 80px;
    margin-top: 100px;
    margin-bottom: 60px;
    overflow: hidden;
}

.section-title {
    position: relative;
    height: 80px;
    text-align: center;
}

.section-title:before {
    position: absolute;
    top: 50%;
    right: 150%;
    width: 250px;
    content: '';
    border-color: #bdae82;
    border-style: solid;
    border-width: 2px;
}

.section-title:after {
    position: absolute;
    top: 50%;
    left: 150%;
    width: 250px;
    content: '';
    border-color: #bdae82;
    border-style: solid;
    border-width: 2px;
}

.skills-items {
    width: 100%;
    height: 242px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.skills-item {
    /* width: 320px; */
    flex: calc(25% - 120px);
    height: 240px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 40px;
    text-align: center;
    color: #fff;
}

.skills-item:first-child {
    margin: 0;
}

.skills-title {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.skills-text {
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

.section-portfolio {
    height: 1500px;
}

.btn-group {
    display: flex;
    flex-flow: row wrap;
    width: 895px;
    height: 55px;
    margin-bottom: 60px;
}

.portfolio-btn {
    flex: calc(25% - 15px);
    margin-left: 5px;
    border: 1px solid #bdae82;
    color: #bdae82;
    background-color: transparent;
}

.portfolio-btn:hover {
    color: #000;
    background-color: #bdae82;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    height: 1145px; 
}

.gallery-item {
    flex: calc(33% - 50px);
    gap: 25px;
}

.section-video {
    height: 945px;
}

.video-player {
    width: 100%;
    height: 705px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/video-player.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.video-player-icon {
    position: absolute;
    width: 130px;
    height: 130px;
}

.section-price {
    height: 845px;
}

.cards {
    width: 100%;
    height: 505px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: calc(33% - 50px);
    margin-left: 25px;
    border: 2px solid #BDAE82;
}

.cards:first-child {
    margin: 0;
}

.card-title {
    margin-top: 43px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.card-price {
    margin: 20px 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}

.card-description {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.price-btn {
    margin-top: 40px;
    margin-bottom: 43px;
    color: #000;
    border: 0;
    background-color: #bdae82;
}

.price-btn:hover {
    color: #fff;
}

.footer {
    height: 100px;
    background-color: rgb(170, 22, 22);
}

@media (max-width: 800px) {
    .skills-item {
        flex: calc(50% - 40px);
    }
  }